<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<div class="bottom_container" th:fragment="foot">
    <div class="bottom_container_box">
        <ul class="box_ul">
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_first">关于我们</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_second">服务项目</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_third">网站FAQ</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fourth">会员注册</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fifth">法律声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_sixth">隐私声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_seventh">联系我们</li>
            </a>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="bottom_container_copy"></div>
</div>
</body>
</html>
