<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<div class="bottom_container" th:fragment="foot">
    <div class="bottom_container_address">
        <div class="address_contact">
            入会咨询： 0755-25113656&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-MAIL：szhnsh@sina.cn
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：深圳市罗湖区深南东路2001号鸿昌广场22楼2210室
        </div>
        <ul class="friend_cooperate">
            <div class="cooperate_li2">友情合作：</div>
            <a href="http://www.xptx.com.cn/" class="cooperate_name">
                <li class="cooperate_li">湘飘天下</li>
            </a>
            <a href="http://www.szhnr.com/portal.php" class="cooperate_name">
                <li class="cooperate_li">深圳湖南人社区</li>
            </a>
            <a href="http://www.hyx.gov.cn/shownews.asp?id=3812" class="cooperate_name">
                <li class="cooperate_li">团衡阳县委网站</li>
            </a>
            <a href="http://www.world-jx.com/" class="cooperate_name">
                <li class="cooperate_li">湖南经济协作办公室</li>
            </a>
            <a href="http://www.world-jx.com/" class="cooperate_name">
                <li class="cooperate_li">锦祥企业管理</li>
            </a>
            <a href="http://www.cwyan.com/" class="cooperate_name">
                <li class="cooperate_li">微言网</li>
            </a>
            <a href="http://www.leadcy.cn/" class="cooperate_name">
                <li class="cooperate_li">深圳创主营销</li>
            </a>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="bottom_container_box">
        <ul class="box_ul">
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_first">关于我们</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_second">服务项目</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_third">网站FAQ</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fourth">会员注册</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fifth">法律声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_sixth">隐私声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_seventh">联系我们</li>
            </a>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="bottom_container_copy">Copyright ©2005-2010 SZHNSH.COM All Rights Reserved<br>
        Copyright2005-2010 深圳湖南商会粤ICP备06022819号
    </div>

</div>
</body>
</html>
