<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<div class="bottom_container" th:fragment="foot">
    <div class="bottom_container_address">
        <div class="address_contact">
            入会咨询： 0123-1234567&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-MAIL：cdzk@aaa.cn
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：成都市##区###广场22楼2210室
        </div>
        <ul class="friend_cooperate">
            <div class="cooperate_li2">友情合作：</div>
            <a href="http://www.hazhoukou.gov.cn/" class="cooperate_name">
                <li class="cooperate_li">周口市人民政府</li>
            </a>
            <a href="http://cdmzj.chengdu.gov.cn/" class="cooperate_name">
                <li class="cooperate_li">成都市民政局</li>
            </a>
            <a href="http://www.cdsgsl.gov.cn/" class="cooperate_name">
                <li class="cooperate_li">成都市工商联</li>
            </a>
            <a href="http://www.zksgsl.cn/" class="cooperate_name">
                <li class="cooperate_li">周口市工商联</li>
            </a>
            <a href="http://www.xcfsxh.com/" class="cooperate_name">
                <li class="cooperate_li">项城市防水协会</li>
            </a>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="bottom_container_box">
        <ul class="box_ul">
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_first">关于我们</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_second">服务项目</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_third">网站FAQ</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fourth">会员注册</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_fifth">法律声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_sixth">隐私声明</li>
            </a>
            <a href="header.html" class="statement_herf">
                <li class="statement_li statement_seventh">联系我们</li>
            </a>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="bottom_container_copy">Copyright ©2005-2010 SZHNSH.COM All Rights Reserved<br>
        Copyright2005-2010 成都周口商会粤ICP备06022819号
    </div>

</div>
</body>
</html>
