<!DOCTYPE html>
<meta charset="UTF-8">
<style type="text/css">
    .all_container {
        padding-top: 70px;
        padding-bottom: 20px;
        margin: 0px 25px;
    }
</style>
<div lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="manage_header::html"></div>
    <!--中间主体部分-->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--中间代码区域-->
        <div class="all_container">

        </div>

        <!--中间代码区域-->
    </div>
</div>
<script>

</script>
</body>
</html>